In [1]:
import pandas as pd

In [2]:
A = pd.DataFrame({'key': ['K0', 'K1', 'K2', "üêá"],
                  'A': ['A0', 'A1', 'A2', "A3"],
                  'B': ['B0', 'B1', 'B2', "B3"]})
A

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  üêá

In [3]:
B = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'üê∂'],
                  'C': ['C0', 'C1', 'C2', 'C3'],
                  'D': ['D0', 'D1', 'D2', 'D3']})
B

    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  üê∂

# Selection
$$\sigma_{C="C0"}(B)$$

In [4]:
B.loc[lambda df: df.C=="C0"]

    C   D key
0  C0  D0  K0

# Projection
$$\pi_{C, D}(B)$$

In [5]:
B.loc[:, ["C", "D"]]

    C   D
0  C0  D0
1  C1  D1
2  C2  D2
3  C3  D3

# Selection and Projection
$$\pi_{C,D}(\sigma_{C="C0"}(B))$$

In [6]:
B.loc[lambda df: df.C=="C0"] \
 .loc[:, ["C", "D"]]

    C   D
0  C0  D0

# Natural Join
$$A \bowtie B$$

In [7]:
A

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  üêá

In [8]:
B

    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  üê∂

In [9]:
pd.merge(A, B)

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2

# Other Types of Joins

In [10]:
A

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  üêá

In [11]:
B

    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  üê∂

In [12]:
pd.merge(A, B, on="key", how="outer")

     A    B key    C    D
0   A0   B0  K0   C0   D0
1   A1   B1  K1   C1   D1
2   A2   B2  K2   C2   D2
3   A3   B3  üêá  NaN  NaN
4  NaN  NaN  üê∂   C3   D3

In [13]:
pd.merge(A, B, on="key", how="inner")

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2

In [14]:
pd.merge(A, B, on="key", how="left")

    A   B key    C    D
0  A0  B0  K0   C0   D0
1  A1  B1  K1   C1   D1
2  A2  B2  K2   C2   D2
3  A3  B3  üêá  NaN  NaN

In [15]:
pd.merge(A, B, on="key", how="right")

     A    B key   C   D
0   A0   B0  K0  C0  D0
1   A1   B1  K1  C1  D1
2   A2   B2  K2  C2  D2
3  NaN  NaN  üê∂  C3  D3